[submodule "CETS.API"]
	path = CETS.API
	url = https://github.com/Minhaza/CETS.API.git
[submodule "CETS.Core"]
	path = CETS.Core
	url = https://github.com/Minhaza/CETS.Core.git
[submodule "CETS.AI"]
	path = CETS.AI
	url = https://github.com/Minhaza/CETS.AI.git
[submodule "CETS.Worker"]
	path = CETS.Worker
	url = https://github.com/Minhaza/CETS.Worker.git
[submodule "CETS.FE-StudentTeacher"]
	path = CETS.FE-StudentTeacher
	url = https://github.com/Minhaza/CETS.FE-StudentTeacher.git
[submodule "CETS.FE-AdminStaff"]
	path = CETS.FE-AdminStaff
	url = https://github.com/Minhaza/CETS.FE-AdminStaff.git
